[submodule "zsh/zprezto.symlink"]
	path = zsh/zprezto.symlink
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "vim/vim.symlink/bundle/vundle"]
	path = vim/vim.symlink/bundle/vundle
	url = https://github.com/gmarik/vundle.git
